html{
    margin-top: 0px !important;
}

.row{
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 auto;
    margin-right: -12px;
    margin-left: -12px;
}

/*navbar css*/
.header.active .max-mega-menu > li > a {
    font-family: 'Open Sans', arial, sans-serif;
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    text-shadow: none;
    color: #121212 !important;
}